.about-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('src/assets/money.jpg'); /* Assure-toi du bon chemin */
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Ajuste l'opacité entre 0 (invisible) et 1 (opaque) */
    z-index: -1;
}
