.draw-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.draw-container {
    border: 1px solid #4f97f4;
    padding-left: 0;
    border-radius: 8px;
    background-color: #f9f9f9;
    flex: 1;
    min-width: calc(50% - 1rem);
    margin: 0; /* Supprimer toute marge */

}

.tables-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem; /* Supprimer l'espace entre les tableaux */
    margin: 10px; /* Supprimer la marge */
    padding: 0; /* Supprimer le padding */
}

.table-wrapper {
    flex: 1;
    min-width: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0; /* Supprimer la marge */
    padding: 0; /* Supprimer le padding */
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

td:first-child {
    font-weight: bold;
    background-color: #eee;
}

h2{
    padding-left: 10px;
    margin: 2px;
}